body {background-color: #f2f2f2}
h1 {color: #000000; text-align: center;}
h2 {color: #000000; text-align: left;}
p {font-family: times new roman; line-height: 1.8; font-size: "Times New Roman", Times, serif; }